<%- include('partials/header') %>

   <h1>Choose your character: </h1>
   <form action="/search" method="get">
       <label for="cat"></label>
       <input type="text" name="chName" id="cat">
       <button type="submit">SUBMIT</button>
   </form>

<%- include('partials/footer') %>
