<%- include('partials/header') %>

  <h1>Results:</h1>
  <%data.forEach(el =>{ %>
      <h3><%= el.name %></h3>
      <% let url = `${el.thumbnail.path}/portrait_uncanny.${el.thumbnail.extension}` %> 
      <!-- thumbnail, path is in the object, portrait makes the pictures the same size -->
      <img src= <%=url %> alt="">
 <% })%>

<%- include('partials/footer') %>