*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Oswald', sans-serif;
}

nav.navbar{
    color: grey;
    background-color: #263238;
    display: block;
    height: 12vh;
    position: fixed;
    width: 100vw;
    
}

nav.navbar a{
    text-decoration: none;
}

ul{
    list-style-type: none;
    width: 100%;
    height: 2.5rem;
}

li{
    background-color: #ccc;
    height: 2.6rem;
    width: 14vw;
    float: left;
}

li a{
    display: block;
    background-color: #ddd;
    text-decoration: none;
    padding-left:  0.25rem;
    line-height: 2.5rem;
}

li a:hover{
    background-color: #555;
    color: white;
}

li a.active{
    background-color: rgb(168, 240, 136);
}

