<%- include ('partials/header')%>

	<!-- Home Page -->
	<div class="jumbotron">
		<h1 class="display-4">Star Wars Characters! Pick a number from 1-10:</h1>
		<form action="/results" method="GET">
			<input type="number" class="form-control" 
				   min="1" 
				   max="10" 
				   value="results"
				   placeholder="Enter your number (between 1 and 10)" 
				   name="userNumber" autofocus>
			<input type="submit" class="btn btn-primary mt-3">
		</form>

	</div>

	<!-- footer nav -->
	<nav class="nav nav-pills flex-column flex-sm-row fixed-bottom">
		<a class="flex-sm-fill text-sm-center nav-link active" href="#">Home</a>
		<a class="flex-sm-fill text-sm-center nav-link" href="/results.ejs">Results</a>
		<a class="flex-sm-fill text-sm-center nav-link" href="#">Feedback</a>
	</nav>

<%- include ('partials/footer')%>